<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate News NLP</title>
    <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <main>
      <section>
        <form onsubmit="return Client.handleSubmit(event)">
          <input
            id="formURL"
            type="text"
            onInput="inputChange(event)"
            placeholder="http://"
            required
          />
          <input
            type="submit"
            value="Evaluate"
            id="submitButton"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
          <p id="errorMessage"></p>
        </form>
      </section>

      <section class="results">
        <strong class="title">Result</strong>
        <p id="resultsError"></p>
        <table>
          <tr>
            <td>Model</td>
            <td id="data-model"></td>
          </tr>
          <tr>
            <td>Score Tag</td>
            <td id="data-score-tag"></td>
          </tr>
          <tr>
            <td>Agreement</td>
            <td id="data-agreement"></td>
          </tr>
          <tr>
            <td>Subjectivity</td>
            <td id="data-subjectivity"></td>
          </tr>
          <tr>
            <td>Confidence</td>
            <td id="data-confidence"></td>
          </tr>
          <tr>
            <td>Irony</td>
            <td id="data-irony"></td>
          </tr>
        </table>
      </section>
    </main>

    <script>
      const submitButton = document.getElementById("submitButton");
      const formURL = document.getElementById("formURL");

      submitButton.disabled = true;

      inputChange = (event) => {
        if (event.target.value.length > 0) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      };

      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("service-worker.js");
        });
      }
    </script>
  </body>
</html>
