form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

.results {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 5px solid red;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr {
    &:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
